<%- include('header'); -%>
<%- include('navbar.ejs', username) %>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header" style="background-color: #94618E; color: #F8EEE7;">Profile</div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" value="<%= user.username %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" value="<%= user.email %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="firstName" class="form-label">First Name</label>
                            <input type="text" class="form-control" id="firstName" value="<%= user.first_name %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Last Name</label>
                            <input type="text" class="form-control" id="lastName" value="<%= user.last_name %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="tel" class="form-control" id="phoneNumber" value="<%= user.phone_number %>" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="createdAt" class="form-label">Created At</label>
                            <input type="text" class="form-control" id="createdAt" value="<%= user.created_at %>" readonly>
                        </div>
                        <a href="/edit-profile" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('footer'); -%>